.content
  .container
    .row
      .col-lg-12
        %form.form-horizontal{ :action => "/register", :method => "post", :role => "form"}
          %h1= 'Display'
          .form-group
           %h1= 'Display'
          .form-group
           %h1= 'Display'
          .form-group
           %h1= 'Display'
          %br
          %br
          %input.btn.btn-default{ :name => "submit", :type => "submit", :value => "Submit"}