.content
  .container
    .row
      .col-md-12
        %form{:role => "form", :action => "/login", :method => "post"}
          :plain
		  %p
		    Please, For the love of God,
		    don't use Haml for marking-up your content!